* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Global */
body {
  font-family: 'Montserrat', sans-serif;;
}

header {
  background-color: #ffffff;
}

main {
  background-color: #f4f9fd;
}

footer {
  background-color: #32495b;
  color: #ffffff;
  padding: 50px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-full {
  width: 100%;
  padding: 0 10%;
}

.header-container {
  min-width: 1200px;
  height: 100%;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  padding: 0 5px;
  font-weight: 600;
  font-size: 0.8em;
  margin: 0 10px;
}

a, a:active, a:visited, a:link {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #fe775a; 
}

/* testi */
h2 {
  font-size: 2em;
  color: #33475b;
}

h5 {
  font-size: 3em;
}

h6 {
  font-size: 1em;
  color: #ffffff;
}

/* layout */
.row {
  display: inline-block;
}
.col-12 {
  width: 100%
}

.col-9 {
  width: 75%;
}

.col-6 {
  width: 50%
}

.col-4 {
  width: 30%;
}

.col-4-mr {
  width: 30%;
  margin-right: 5%;
}

.col-3 {
  width: 25%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid #000000;
}

/* padding-margin */
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.py-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.line {
  height: 1px;
  background-color: #000000;
  width: 100%;
  margin-top: 38px;
}

.line-gray {
  height: 1px;
  background-color: #dadee0;
  width: 100%;
}

/* color */
.gray {
  background-color: #f4f9fd;
}

/* icon */
.fa-search {
  color: #01a6be;
}

/* box */
.box {
  padding: 50px;
  box-shadow: 0 0 11px #eaf0f6;;
  background-color: #ffffff;
  border-radius: 5px;
}

.box-image {
  height: 100%;
  margin: 10px;
}

.box-border-nothing {
  padding: 20px;
}

.box-border {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 20px;
}

.box-border-bottom {
  border-bottom: 1px solid #ffffff;
  padding: 20px;
}

.box-border-right {
  border-right: 1px solid #ffffff;
  padding: 20px;
}

.box-partner {
  padding: 5px 30px;
}

.text-box {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}

.check-horizontal {
  margin: 5px;
}

.check {
  width: 100%;
  margin: 5px;
}

.check:before, .check-horizontal:before {
  content: ' \2713';
  color: #ffffff;
  background-color: #fe775a;
  border-radius: 50%;
  height: 5px;
  line-height: 5px;
  padding: 3px;
  margin: 3px;
}

/* button */
.btn-border {
  border: 1px solid #fe775a;
  color: #fe775a;
  height: 35px;
  line-height: 35px;
  border-radius: 8px;
  padding: 0 20px;
}
.btn-border:hover {
  border: 1px solid #000000;
  color: #000000;
}

.btn {
  border: 1px solid #fe775a;
  background-color: #fe775a;
  color: #ffffff;
  height: 35px;
  line-height: 35px;
  border-radius: 8px;
  padding: 0 20px;
}
.btn:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.btn-large {
  border: 1px solid #fe775a;
  background-color: #fe775a;
  color: #ffffff;
  height: 55px;
  line-height: 55px;
  border-radius: 8px;
  padding: 0 50px;
}
.btn-large:hover {
  border: 1px solid #fe5a5a;
  background-color: #fe5a5a;
  color: #000000;
}

.btn-white {
  border: 1px solid #dadee0;
  background-color: #dadee0;
  color: #32495b;
  height: 35px;
  line-height: 35px;
  border-radius: 8px;
  padding: 0 20px;
}

.btn-white:hover {
  background-color: #4f4f4f;
  color: #ffffff;
}

/* menu */
.nav-top {
  height: 60px;
  line-height: 60px;
}

.nav-bottom {
  background-color: #ffffff;
  height: 60px;
  line-height: 60px;
}

.logo {
  height: 50px;
  line-height: 50px;
  padding: 8px;
}

.border-right {
  border-right: 2px solid gray;
  padding-right: 20px;
  height: 20px;
  line-height: 20px;
}

/* slider */
.jumbotron {
  position: relative;
  height: 100vh; 
}
.jumbotron-text {
  position: absolute;
  top: 35%;
  left: 0;
  transform: translateY(-50%);
  margin: 0 auto;
}
.jumbotron h1 {
  color: #33475b;
  font-size: 3.5em;
  margin-bottom: 30px;
}

.jumbotron p {
  color: #000000;
  font-size: 1em;
  margin: 30px 0;
}

/* feature */
#feature {
  text-align: center;
}

#feature img {
  height: 120px;
  margin: 20px 0;
}

#feature p {
  margin: 30px 0;
}

.text-feature {
  margin-bottom: 60px;
  height: 80px;
}

/* community */
#community {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  margin-top: 50px;
  padding: 80px 0;
  color: #ffffff;
  text-align: center;
}

#community h3 {
  margin: 50px 0;
  font-size: 1.6em;
}

#community p {
  margin: 20px 0;
  font-size: 1em;
}

#community .content-image {
  height: 40px;
  line-height: 40px;
}

/* partner  */
.image-partner {
  padding: 20px;
  height: 40px;
  line-height: 40px;
}

.image-partner img {
  width: 150px;
}

.image-box-partner {
  height: 300px;
}

#partner h3 {
  font-size: 2em;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #32495b;
}

#partner p {
  margin-bottom: 30px;
}

/* footer */
.social i {
  padding: 10px;
  margin-top: 10px;
}

footer h6 {
  padding: 20px 0;
  color: #dadee0;
  font-weight: 900;
}

footer li {
  display: block;
  font-weight: 500;
  padding: 10px 0;
  font-size: .9em;
  color: #dadee0;
  margin: 0px;
}

footer li:hover {
  color: #808385;
}

.menu-top {
  text-align: center;
}

.menu-top ul li {
  display: inline-block;
  padding: 0 10px;
}

.link-footer ul li {
  display: inline;
  padding: 0 20px;
}